<div class="container">


  <form [formGroup]="personForm" class="flex-container-column">
    <h2>Add Person</h2>

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required maxlength="16">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Height</mat-label>
      <input matInput formControlName="height" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Mass</mat-label>
      <input matInput formControlName="mass" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Birth Year</mat-label>
      <input matInput formControlName="birth_year" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <input matInput formControlName="gender" required>
    </mat-form-field>

    <button class="margin-top-s" mat-raised-button color="primary" (click)="submitForm()">Submit</button>
    <button class="margin-top-l secondary-button" mat-raised-button (click)="close()">Cancel</button>
  </form>

</div>
